.button{
    display:flex;
    justify-content: center;
    align-items: center;
    
    text-transform: uppercase;
    padding: 10px 12px;
    font-weight: bold;
    background-color: var(--color-primary);
    font-family: var(--font-secondary);
    font-size: #{typo(24px)};
    color: var(--color-white);
    border:none;
}