/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #FAFAFA;
    --color-black: #1B1B1B;

    // Couleurs du projet
    --color-primary: #285590;
    --color-secondary: #D63F09;
}
