/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: "Oswald", sans-serif;
    --font-secondary: "Ubuntu", sans-serif;

    --font-size-content: #{typo(18px)};

    /// Grosseur des textes
    --font-size-h1: #{typo(72px, 120px)};
    --font-size-h2: #{typo(64px, 85px)};
    --font-size-h3: #{typo(48px, 54px)};
    --font-size-h4: #{typo(32px, 32px)};
}
