{% include '_partials/_header.html' %}

<section class="hero">
    <div class="hero__media">

    </div>
    <div class="wrapper">
        <div class="cards">
            <div class="card">
                <div class="card__media">
                </div>
                <div class="card__content">
                    <h3>Tuyau en plex</h3>
                    <p>49,99 <span>39,99</span></p>
                </div>
            </div>
         </div> 
    </div>
</section>

<section class="blogue">
    <div class="wrapper">
        <h1>Blogue</h1>
        <div class="cards">
            <div class="card">
                <div class="card__media">

                </div>
                <div class="card__content">
                    <h3>Article</h3>
                    <p>Lorem ipsum dolore lorem ipsum dolore...</p>
                </div>
            </div>
        </div>
        <a href="#">
           <button class="button">Voir plus</button> 
        </a>
    </div>
</section>

<section class="tutoriels">
    <div class="wrapper">
        <h1>Tutoriels</h1>
        <div class="videos">
            <div class="video">
                <div class="video__media">

                </div>
                <div class="video__content">
                    <h3>Vidéos</h3>
                    <p>Lorem ipsum dolore lorem ipsum dolore...</p>
                    <a href="#">
                        <button class="button">Plomberie</button>
                    </a>
                    <a href="#">
                        <button class="button">Peinture</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>



{% include '_partials/_footer.html' %}
